---
import welder from "../../images/welder.svg";
import { Image } from "astro:assets";
import { FaFacebook, FaWhatsapp } from "react-icons/fa";
---

<section class="h-screen flex flex-col justify-center items-center mx-auto">
  <div class="text-white flex flex-col md:flex-row md:gap-5 items-center md:mt-0 ">
    <div class="w-full md:w-1/2">
      <Image
        src={welder}
        alt="Soldador"
        loading={"eager"}
        class="mx-auto mb-8 md:mb-0"
      />
    </div>

    <div class="items-center flex flex-col gap-12 w-full md:w-1/2">
      <h1 class="text-4xl md:text-5xl font-bold tracking-wide leading-snug">
        Transformamos el <span class="text-orange-400">Acero Inoxidable</span> en
        Soluciones Duraderas
      </h1>
      <p class="text-zinc-400 leading-loose">
        En Aceros Del Otún, combinamos la precisión de la soldadura con la
        resistencia del acero inoxidable para llevar tus proyectos al siguiente
        nivel.
      </p>
      <a
        href="#contacto"
        class="text-center font-bold text-stone-900 bg-orange-400 hover:bg-orange-300 px-5 py-4 self-start"
      >
        Quiero ver más
      </a>
      <div class="flex self-start text-zinc-400">
        <p class="mr-7 my-auto">Contacto:</p>
        <ul class="flex gap-3 items-center">
          <li>
            <a
              href="https://www.facebook.com/acerosdelotun"
              class="hover:text-orange-400"><FaFacebook size={32} /></a>
          </li>
          <li>
            <a
              href="https://wa.me/573212886250/?text=Hola%20estoy%20interesado%20en%20sus%20servicios"
              class="hover:text-orange-400"><FaWhatsapp size={32} /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
