---
import Carrusel from '../Carrusel.jsx'

const OPTIONS = {}
const SLIDE_COUNT = 5
const SLIDES = Array.from(Array(SLIDE_COUNT).keys())
---

<section class="mt-5 text-white inline-flex">
    <Carrusel client:visible/>
</section>