---
import Carrusel from '../Carrusel.tsx'
---

<section id='Work' class="mt-20 text-white w-3/4 mx-auto mb-20">
    <h2 class="text-5xl text-center mb-10">Nuestros <span class="text-orange-400">Trabajos</span></h2>
    <p class="text-center text-lg mb-10">Descubre la calidad de nuestro trabajo. ¡Echa un vistazo a nuestros proyectos más recientes y déjate inspirar!</p>
    <div class="p-10 bg-zinc-800 rounded-xl shadow-xl shadow-orange-400">
        <Carrusel client:visible/>
    </div>
</section>