---
import Navbar from '../components/Navbar.jsx'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Christian Daniel Parra Amaya Fabricación de productos en acero inoxidable" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Miguel Lopez">
		<title>Daniel Parra | {title}</title>
	</head>
	<body class="bg-zinc-900 flex flex-col min-h-screen">
		<Navbar client:load />
		<main class="container mx-auto mt-8 "> 
			<slot></slot>
		</main>
	</body>
</html>
